.createBookmark{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    visibility: hidden;
    top: 25vh;
    left: 25vw;
    height: 50vh;
    width: 50vw;
}

.createBookmark.show {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    background-color: white;
}

.createBookmark h1, .createBookmark h2 {
    padding-left: 10px;
}

.createBookmarkForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    height: 40vh;
    width: 50vw;
}

.createBookmarkForm input {
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 1.5rem;
    margin: 5px;
    padding: 3px;
    width: 40vw;
}

.createBookmarkForm textarea {
    border: none;
    border-bottom: 1px solid lightgrey;
    resize: none;
    font-size: 1.2rem;
    margin: 5px;
    padding: 3px;
    height: 25vh;
    width: 40vw;
}

.createBookmarkForm div {
    width: 40vw;
}

.createBookmarkForm.descriptionCounter {
    display: flex;
    justify-content: flex-end;
}

.createBookmarkButton {
    display: flex;
    justify-content: flex-end;
}

.createBookmarkButton button {
    border: none;
    background-color: transparent;
    color: dimgrey;
    font-size: 16px;
    font-weight: bold;
}

.createBookmarkButton button:hover {
    color: deepskyblue;
}