.createBoard{
    visibility: hidden;
}

.createBoard.show {
    position: absolute;
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.3);
}