.editBoard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    visibility: hidden;
    top: 25%;
    left: 25%;
    min-height: 50%;
    min-width: 50%;
}

.editBoard.show {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    background-color: white;
}

.editBoardForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 70%;
}

.editBoardForm textarea {
    resize: none;
}

.editBoardButton button {
  border: none;
  background-color: transparent;
  color: dimgrey;
  font-size: 16px;
  font-weight: bold;
}

.editBoardButton button:hover {
  color: deepskyblue;
}