.logoutbutton {
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  /*border is optional*/
  /*border-bottom:1px solid #444;*/
  cursor: pointer;
  text-align: left;
}

.menu {
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transform: translateX(-270px);
  opacity: 0;
  visibility: hidden;
}

.menu.show {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}

.menu__header {
  height: 160px;
  background: darkgrey;
}

.menu__user {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding-left: .5rem;
}

.menu__avatar {
  min-height: 60px;
  min-width: 60px;
  border-radius: 50%;
  background: green;
  line-height: 60px;
  margin: 1rem;
  text-align: center;
}

.menu__list {
  display: flex;
  color: black;
  flex-flow: column;
  font-weight: bold;
}

.menu__item {
  padding: .5rem;
}

.menu__item:hover {
  color: blue;
}