.add-button {
  visibility: hidden;
}

.add-button.show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: green;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.65);
  visibility: visible;
  bottom: 30px;
  right: 30px;
}

.add-button i {
  display: block;
  height: 25px;
  width: 25px;
  margin: 0;
  padding: 0;
}

.add-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.add-interface.show {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9990;
}

.add-interface {
  width: 60px;
  height: 60px;
  background-color: transparent;
}