.bookmark-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 130px;
  width: 360px;
  /*max-width: 480px;*/
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

.bookmark-card .edit {
  display: flex;
  justify-content: flex-end;
}

.bookmark-card .edit button {
  border: none;
  background-color: transparent;
  color: dimgrey;
  font-size: 16px;
  font-weight: bold;
}

.bookmark-card .edit button:hover {
  color: deepskyblue;
}